<form action="/parks/{{park._id}}?_method=PUT" method="POST">
    <div id="change">
        <div class="form-input">
            <br>
            <label for="name">name:</label>
            <br>
            <input type="text" name="name" value="{{park.name}}" required/>
            <br>
            <label for="street">street</label>
            <br>
            <input type="text" name="street" value="{{park.street}}" />
            <br>
            <label for="city">city</label>
            <br>
            <input type="text" name="city" value="{{park.city}}" />
            <br>
            <label for="state">state</label>
            <br>
            <input type="text" name="state" value="{{park.state}}" />
            <br>
            <label for="zip">zip</label>
            <br>
            <input type="text" name="zip" value="{{park.zip}}" />
            <br>
            <label for="hours">hours</label>
            <br>
            <input type="text" name="hours" value="{{park.hours}}" />
            <br>
            <label for="level">level</label>
            <br>
            <input type="text" name="level" value="{{park.level}}" />
            <br>
            <input type="submit">
        </div>

    </div>
</form>