<form action="/parks/{{park._id}}?_method=PUT" method="POST">
    <div class="form-input">
        <label for="name">name:</label>
        <input type="text" name="name" value="{{park.name}}" required/>
        <label for="street">street</label>
        <input type="text" street="street" value="{{park.street}}" />
        <label for="city">city</label>
        <input type="text" city="city" value="{{park.city}}" />
        <label for="state">state</label>
        <input type="text" state="state" value="{{park.state}}" />
        <label for="zip">zip</label>
        <input type="text" zip="zip" value="{{park.zip}}" />
        <label for="hours">hours</label>
        <input type="text" hours="hours" value="{{park.hours}}" />
        <label for="level">level</label>
        <input type="text" level="level" value="{{park.level}}" />
    </div>
    <input type="submit">
</form>