<html>

<h1>This is the page for {{park.name}}</h1>

<div> Street:{{park.street}}</div>
<div>
    City {{park.city}}</div>
<div>Zip:{{park.zip}}</div>
<div> Hours:{{park.hours}} </div>
<div>level:{{park.level}} </div>

</html>